     <FilesMatch \.php$>
         # From the Apache version 2.4.10 and above, use the SetHandler to run PHP as a fastCGI process server
         SetHandler "proxy:unix:/run/php/phpversion-fpm.sock|fcgi://localhost"
     </FilesMatch>
